# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [4]:
# import required libraries
import numpy as np
import pandas as pd

In [5]:
from sqlalchemy import create_engine


ip = "35.239.232.23"

login = "ironhacker_read"

password = "ir0nhack3r"

db = "orders"

engine = create_engine(f'mysql+pymysql://{login}:{password}@{ip}/{db}')

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [6]:
# enter your code here
orders = pd.read_sql_query('SELECT * FROM orders', engine)
orders.head()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [22]:
# your code here
orders.groupby('CustomerID').sum().sort_values('amount_spent', ascending = False).quantile(0.9)[['amount_spent']]

amount_spent    3646.164
Name: 0.9, dtype: float64

In [31]:
orders_2 = orders.groupby('CustomerID').sum()

In [35]:
orders_2[orders_2['amount_spent'] > 3646.164]

,index,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,37126,541431,2011,1,2,10,74215,1.04,77183.60
12347,30294108,101296926,365971,1383,441,2219,2458,481.21,4310.00
12357,42865034,75290940,263441,1441,917,2096,2708,438.67,6207.67
12359,41714856,138190725,498728,1508,783,3136,1622,2137.86,6372.58
12362,64725795,150505851,534926,2189,944,3192,2229,1048.29,5226.23
12378,43978923,123088074,440409,1752,438,2190,2529,656.44,4008.62
12409,21257941,61157926,219199,789,499,1222,5551,389.62,11072.67
12415,114857574,398543981,1439876,4254,2169,8061,77670,2097.08,124914.53
12417,35859592,107382316,386101,1363,704,2567,1552,1024.88,3649.10
12428,30679900,161603680,591234,1223,660,2911,3536,1360.46,7956.46
12429,17681983,54154364,195047,795,232,1278,1557,352.18,3750.40
12431,33936775,130860723,474572,1502,912,2593,2918,889.49,6487.45
12432,22403654,60710430,217188,776,238,1340,1801,1139.49,5059.32
12433,90087255,235863380,844473,4613,1612,5422,11071,920.95,13375.87
12435,5769629,20036762,72396,210,127,286,2055,197.25,7829.89
12437,43766352,112556831,402200,1484,730,2497,2923,798.50,4951.41
12444,40061997,99873481,355947,1395,531,2219,1155,1119.13,5005.46
12449,46291496,108105916,384101,1654,875,2243,1553,705.69,4067.29
12451,63604343,197631633,711894,2220,1229,4223,6575,867.33,9035.52
12471,92668299,257867332,924984,4001,1679,5185,8212,1978.17,19824.05
12472,50279929,188061683,681659,2579,1339,4241,4148,812.81,6572.11
12473,41634876,95200874,337848,1484,310,1851,2439,1398.42,3938.55
12474,86976199,238037597,852664,2979,1178,5277,4847,1215.04,7375.79
12476,52198783,131236259,468561,1720,652,2704,2408,1125.63,6816.42
12477,60858101,168389435,603300,2107,1218,3212,3653,1314.96,13219.74
12481,32319624,120410552,436365,1408,607,2184,3304,741.05,5596.32
12484,61087224,193177283,695806,2152,1907,4594,2191,1081.63,4541.72
12490,53877367,137955135,492695,1852,896,2972,3064,659.75,5417.93
12500,12394514,34233127,122671,428,241,665,2678,343.85,4257.82
12502,21117275,81550414,295617,829,455,1541,820,944.51,3723.87
...,...,...,...,...,...,...,...,...,...
17809,11604709,34128938,122656,584,237,808,2057,177.25,5411.91
17811,168287375,476783469,1711361,5664,2818,10220,4177,2319.55,7837.73
17819,4039660,26268945,96514,310,217,603,1031,213.54,3704.87
17841,1724336612,4418581314,15780030,62607,26704,103831,23071,19848.49,40991.57
17850,562956,159369751,596970,3564,1104,3258,1733,1176.23,5391.21
17857,12056508,30412263,108589,467,142,706,19256,557.95,26879.04
17858,43212832,111967681,400162,1790,969,2696,2706,1171.13,5155.66
17865,62905120,206277850,744028,2716,1322,4233,5757,1022.56,10526.32
17920,167385320,393255708,1399561,6709,2919,8746,2516,1623.75,4204.10
17937,5624837,23738967,86455,393,193,532,1754,149.35,4301.22
17940,2394888,10497347,38209,91,59,208,9755,1872.05,4106.44
17949,13901218,39281978,140769,503,255,839,30546,237.40,58510.48
17975,43732818,164234389,595228,1886,846,3416,1568,937.93,4488.81
18041,71170210,261860852,949082,3692,1802,5811,3819,928.97,4183.39
18055,69736374,201519699,723878,3306,1311,4344,2455,1447.76,6784.19
18073,13197162,40847440,146803,498,203,967,3108,279.95,3877.52
18079,29014297,71674629,255397,1016,461,1658,7432,113.77,3651.97
18087,290276,1109989,4022,11,7,25,3907,853.62,4055.72
18092,16726044,49784492,178960,812,273,984,4252,331.01,9068.26
18102,98902435,243297801,866723,3746,1261,5587,64124,1940.92,259657.30
18109,83135342,248314878,892863,3110,2156,6080,4237,2189.03,8052.97
18118,199999702,710550897,2571918,8671,4815,14692,2882,3234.33,5653.82
18139,57231750,91867873,319749,1749,209,2090,5557,239.97,8438.34
18172,31915025,105352467,380079,1128,679,2506,3184,587.23,7561.68
18198,25895337,88481806,319749,896,545,1994,4074,381.01,5425.56
18223,47138090,151665538,546971,1843,781,3290,2948,807.16,6484.54
18225,57955416,152401796,544979,2000,1027,3702,3244,692.45,5509.12
18226,41589706,135026999,486662,1500,845,2806,3466,528.82,5228.05
18229,31589813,91863926,329794,1223,631,1921,2488,758.76,7276.90
18251,3861480,9065520,32176,144,32,240,7824,12.35,4314.72

I define VIP as the people that are above the 90 quantile.

In [37]:
orders.groupby('CustomerID').sum().sort_values('amount_spent', ascending = False).quantile(0.75)[['amount_spent']]

amount_spent    1661.64
Name: 0.75, dtype: float64

In [38]:
orders_2[orders_2['amount_spent'] > 1661.64]

,index,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,37126,541431,2011,1,2,10,74215,1.04,77183.60
12347,30294108,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,1900064,16869685,62324,257,111,472,2341,178.71,1797.24
12349,26148016,42165457,146803,803,73,657,631,605.10,1757.55
12352,15633406,47523155,170935,552,243,1193,536,1354.11,2506.04
12356,4163546,32183405,118649,142,185,592,1591,188.87,2811.43
12357,42865034,75290940,263441,1441,917,2096,2708,438.67,6207.67
12359,41714856,138190725,498728,1508,783,3136,1622,2137.86,6372.58
12360,28649592,72720480,259419,1005,303,1515,1165,457.91,2662.06
12362,64725795,150505851,534926,2189,944,3192,2229,1048.29,5226.23
12370,13714934,91269866,335746,1516,482,2036,2353,467.65,3545.69
12371,17845196,35945072,126693,630,127,630,591,244.08,1887.96
12378,43978923,123088074,440409,1752,438,2190,2529,656.44,4008.62
12380,25157047,58857949,209144,885,384,1240,1127,351.38,2724.81
12381,21526907,49313176,174957,776,434,876,808,407.44,1845.31
12383,5102613,53773455,199052,594,289,1266,1532,305.61,1850.56
12388,16748090,55733658,201100,592,381,1230,1462,277.77,2780.66
12395,27613891,87022722,313685,1309,621,2247,2118,619.14,3018.63
12397,31726835,71468306,253386,1106,490,1484,1263,437.00,2409.90
12405,9878409,30236112,108594,378,216,432,857,191.39,1710.39
12406,27275143,59569279,211155,910,420,1554,1818,261.14,3415.30
12407,13032545,42944486,154847,482,297,830,1416,251.59,1708.12
12408,19265114,58704899,211155,688,397,1240,1409,317.40,2888.55
12409,21257941,61157926,219199,789,499,1222,5551,389.62,11072.67
12415,114857574,398543981,1439876,4254,2169,8061,77670,2097.08,124914.53
12417,35859592,107382316,386101,1363,704,2567,1552,1024.88,3649.10
12423,18040440,69261244,251359,794,297,1262,1339,364.20,1859.31
12424,5152125,16756087,60330,180,120,360,740,83.42,1760.96
12428,30679900,161603680,591234,1223,660,2911,3536,1360.46,7956.46
12429,17681983,54154364,195047,795,232,1278,1557,352.18,3750.40
...,...,...,...,...,...,...,...,...,...
18122,116997456,209010897,732004,3848,1686,4677,1234,851.58,1826.21
18139,57231750,91867873,319749,1749,209,2090,5557,239.97,8438.34
18144,6327874,23849413,86466,303,108,559,1343,190.51,2888.75
18145,53071634,124894602,444431,1717,860,2520,2625,398.12,2861.55
18172,31915025,105352467,380079,1128,679,2506,3184,587.23,7561.68
18173,3882560,17123208,62341,145,96,380,1220,83.88,2106.84
18179,14326186,50006165,180990,463,222,1217,1360,248.49,1793.17
18180,30899939,67597321,239309,1077,217,1158,1721,247.62,1843.75
18188,16485520,40095637,142781,553,294,936,1168,175.56,2001.04
18198,25895337,88481806,319749,896,545,1994,4074,381.01,5425.56
18204,39735918,112281139,402200,1383,479,2792,1200,509.86,1993.70
18210,42621605,76883352,269474,1375,463,1665,1398,482.01,2621.38
18219,19546301,63524044,229230,940,309,1507,885,470.73,2069.77
18223,47138090,151665538,546971,1843,781,3290,2948,807.16,6484.54
18225,57955416,152401796,544979,2000,1027,3702,3244,692.45,5509.12
18226,41589706,135026999,486662,1500,845,2806,3466,528.82,5228.05
18229,31589813,91863926,329794,1223,631,1921,2488,758.76,7276.90
18230,14591570,47929137,172946,520,321,1145,1316,188.48,2810.20
18231,14331500,68363186,249364,512,282,1458,821,466.92,2083.27
18235,21971889,58534752,209144,796,445,1145,1578,223.23,1796.48
18241,21908749,58515464,209144,800,308,1190,1051,338.39,2073.09
18242,17183240,43978085,156858,598,259,1005,1017,255.83,2232.49
18245,32945226,97811122,351898,1393,724,2189,1788,452.27,2567.06
18251,3861480,9065520,32176,144,32,240,7824,12.35,4314.72
18257,23583820,66233488,237298,853,280,1536,1041,401.63,2337.63
18259,10047478,23741242,84455,427,133,553,714,136.90,2338.60
18260,12248662,73457520,269463,577,436,1616,1478,469.94,2643.20
18272,35180806,93342091,333826,1221,509,2107,2050,380.91,3078.58
18283,168456864,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,15723970,39474556,140770,555,332,697,1586,104.55,1837.28

I define Preferred as the people that are above the 75 quantile.

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [40]:
orders_3 = orders_2[orders_2['amount_spent'] > 3646.164]

In [73]:
orders_4 = orders.groupby(['Country', 'CustomerID']).sum()

In [83]:
orders_4[orders_4['amount_spent']> 3646.164].reset_index().groupby('Country').count()[['CustomerID']]

                 CustomerID
Country
Australia                 2
Belgium                   2
Channel Islands           1
Cyprus                    1
Denmark                   1
EIRE                      3
Finland                   2
France                   18
Germany                  22
Iceland                   1
Israel                    1
Japan                     3
Netherlands               1
Norway                    4
Poland                    1
Portugal                  2
Singapore                 1
Spain                     6
Sweden                    1
Switzerland               5
United Kingdom          354

THe country that has more VIP is UK.

In [84]:
orders_4[orders_4['amount_spent']> 1661.64].reset_index().groupby('Country').count()[['CustomerID']]

                 CustomerID
Country
Australia                 4
Austria                   1
Belgium                  11
Canada                    1
Channel Islands           4
Cyprus                    3
Denmark                   3
EIRE                      3
Finland                   5
France                   29
Germany                  39
Greece                    1
Iceland                   1
Israel                    2
Italy                     5
Japan                     4
Lebanon                   1
Malta                     1
Netherlands               1
Norway                    7
Poland                    1
Portugal                  7
Singapore                 1
Spain                     7
Sweden                    2
Switzerland               9
United Kingdom          932

In [ ]:
THe country that has more prefered costumers is UK.