In [76]:
import pandas as pd
import datetime
from sqlalchemy import create_engine
import pymysql

In [2]:
samp_file = pd.read_csv("sales_01.04.2015.csv")

In [3]:
samp_file.head()

   Unnamed: 0        date  shop_id  item_id  item_price  item_cnt_day
0     2553791  01.04.2015       29     1469      1199.0           1.0
1     2553959  01.04.2015       28    21364       479.0           1.0
2     2553979  01.04.2015       28    21365       999.0           2.0
3     2554011  01.04.2015       28    22104       249.0           2.0
4     2554035  01.04.2015       28    22091       179.0           1.0

In [4]:
samp_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1515 entries, 0 to 1514
Data columns (total 6 columns):
Unnamed: 0      1515 non-null int64
date            1515 non-null object
shop_id         1515 non-null int64
item_id         1515 non-null int64
item_price      1515 non-null float64
item_cnt_day    1515 non-null float64
dtypes: float64(2), int64(3), object(1)
memory usage: 71.1+ KB

In [5]:
samp_file.rename(columns = {'Unnamed: 0': 'Sales_id'}, inplace=True)

In [6]:
samp_file['date'] = pd.to_datetime(samp_file.date)

In [53]:
samp_file = samp_file.astype({'Sales_id' : object, 'item_id' : object, 'shop_id' : object}, inplace = True)

In [54]:
samp_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1515 entries, 0 to 1514
Data columns (total 7 columns):
Sales_id        1515 non-null object
date            1515 non-null datetime64[ns]
shop_id         1515 non-null object
item_id         1515 non-null object
item_price      1515 non-null float64
item_cnt_day    1515 non-null float64
item_revenue    1515 non-null float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 82.9+ KB

In [55]:
samp_file['item_revenue'] = samp_file['item_price'] * samp_file['item_cnt_day']

In [79]:
samp_file.head()

  Sales_id       date shop_id item_id  item_price  item_cnt_day  item_revenue
0  2553791 2015-01-04      29    1469      1199.0           1.0        1199.0
1  2553959 2015-01-04      28   21364       479.0           1.0         479.0
2  2553979 2015-01-04      28   21365       999.0           2.0        1998.0
3  2554011 2015-01-04      28   22104       249.0           2.0         498.0
4  2554035 2015-01-04      28   22091       179.0           1.0         179.0

In [56]:
agre_store = samp_file.groupby(['shop_id']).sum()

In [57]:
agre_store.head()

         item_price  item_cnt_day  item_revenue
shop_id
2           33023.5          27.0       34582.0
3           22481.0          11.0       22481.0
4            9787.0          13.0        9787.0
5           11046.0          15.0       11046.0
6           38784.0          50.0       46226.0

In [58]:
agre_store.drop(columns = ['item_price'], inplace = True)

In [63]:
agre_item = samp_file.groupby(['item_id']).sum()

In [67]:
agre_item.drop( columns = {'item_price'}, inplace = True)

In [69]:
agre_item['item_price'] = agre_item['item_revenue'] / agre_item['item_cnt_day']

In [70]:
agre_item

         item_cnt_day  item_revenue  item_price
item_id
30                1.0        169.00      169.00
31                1.0        363.00      363.00
32                1.0        149.00      149.00
42                1.0        299.00      299.00
59                1.0        249.00      249.00
74                1.0        499.00      499.00
109               1.0        249.00      249.00
259               1.0        249.00      249.00
464               1.0        299.00      299.00
482               4.0      13200.00     3300.00
486               7.0       2100.00      300.00
492               1.0        600.00      600.00
493               1.0        250.00      250.00
494               1.0        380.00      380.00
686               1.0       1500.00     1500.00
687               1.0        600.00      600.00
787               1.0        420.00      420.00
799               1.0         25.00       25.00
803               1.0        100.00      100.00
806               4.0        996.00      249.00
837               1.0       4600.00     4600.00
839               2.0       6600.00     3300.00
970               2.0        698.00      349.00
971               1.0        349.00      349.00
1007              1.0       1199.00     1199.00
1010              1.0        499.00      499.00
1045              1.0        199.00      199.00
1114              0.0        -81.50        -inf
1143              1.0        399.00      399.00
1201              1.0        299.00      299.00
...               ...           ...         ...
21486             1.0        210.00      210.00
21591             1.0        399.00      399.00
21605             1.0         99.00       99.00
21669             1.0        149.00      149.00
21674             1.0        399.00      399.00
21677             1.0         49.00       49.00
21679             1.0        149.00      149.00
21684             1.0        149.00      149.00
21704             1.0        169.00      169.00
21726             1.0         99.00       99.00
21761             1.0        772.03      772.03
21762             1.0       1499.00     1499.00
21793             1.0        999.00      999.00
21842             1.0        149.00      149.00
21881             3.0        897.00      299.00
21893             1.0         28.00       28.00
21902             1.0         99.00       99.00
21922             2.0        198.00       99.00
21962             1.0       1249.00     1249.00
21976             1.0       1499.00     1499.00
22058             1.0        169.00      169.00
22073             1.0         99.00       99.00
22076             1.0         28.00       28.00
22087             3.0        357.00      119.00
22088             9.0       1071.00      119.00
22091             2.0        358.00      179.00
22092             1.0        179.00      179.00
22104             2.0        498.00      249.00
22140             1.0        217.50      217.50
22162             6.0       2394.00      399.00

[985 rows x 3 columns]

In [78]:
ip = '127.0.0.1'

login = 'root'

password = 'Ines2104'

db = 'mandatory_challenge'



engine = create_engine(f'mysql+pymysql://{login}:{password}@{ip}/{db}')

In [80]:
samp_file.to_sql('main_table', engine, if_exists = 'replace', index = False)